<div class="adev-footer-container">
  <div class="adev-footer-columns">
    <div>
      <h2>소셜 미디어</h2>
      <ul>
        <li>
          <a [href]="MEDIUM" title="Angular 블로그">블로그</a>
        </li>
        <li>
          <a [href]="X" title="X (구 Twitter)">X (구 Twitter)</a>
        </li>
        <li>
          <a [href]="BLUESKY" title="Bluesky">Bluesky</a>
        </li>
        <li>
          <a [href]="YOUTUBE" title="YouTube">YouTube</a>
        </li>
        <li>
          <a
            href="https://discord.gg/angular"
            title="Angular 커뮤니티 Discord 서버에서 토론에 참여하세요."
          >
            Discord
          </a>
        </li>
        <li>
          <a [href]="GITHUB" title="GitHub">GitHub</a>
        </li>
        <li>
          <a
            href="https://stackoverflow.com/questions/tagged/angular"
            title="Stack Overflow: 커뮤니티가 당신의 Angular 기술 질문에 답변하는 곳."
          >
            Stack Overflow
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>커뮤니티</h2>
      <ul>
        <li>
          <a
            href="https://github.com/angular/angular/blob/main/CONTRIBUTING.md"
            title="Angular에 기여하기"
          >
            기여하기
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/code-of-conduct/blob/main/CODE_OF_CONDUCT.md"
            title="서로를 존중하세요."
          >
            Code of Conduct
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/angular/issues"
            title="GitHub에 이슈 및 제안 등록하기."
          >
            이슈 보고
          </a>
        </li>
        <li>
          <a
            href="https://devlibrary.withgoogle.com/products/angular?sort=updated"
            title="Google의 DevLibrary"
          >
            Google의 DevLibrary
          </a>
        </li>
        <li>
          <a
            href="https://developers.google.com/community/experts/directory?specialization=angular"
            title="Angular Google 개발자 전문가"
          >
            Angular Google 개발자 전문가
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>리소스</h2>
      <ul>
        <li>
          <a routerLink="/press-kit" title="Press contacts, logos, and branding.">Press Kit</a>
        </li>
        <li>
          <a routerLink="/roadmap" title="로드맵">로드맵</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>언어</h2>
      <ul>
        <li>
          <a href="https://angular.cn/" title="간체 중국어">간체 중국어</a>
        </li>
        <li>
          <a href="https://angular.tw/" title="번체 중국어">번체 중국어</a>
        </li>
        <li>
          <a href="https://angular.jp/" title="일본어">일본어</a>
        </li>
        <li>
          <a href="https://angular.kr/" title="한국어">한국어</a>
        </li>
        <li>
          <a href="https://angular-gr.web.app" title="그리스어"> 그리스어 </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="docs-license">
    Super-powered by Google ©2010-2025. Code licensed under an
    <a routerLink="/license" title="License text">MIT-style License</a>
    . Documentation licensed under
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    .
  </p>
</div>
